app/views/inc/footer.pug
.footer#postula
    .content-g
        .col-md-7.col-sm-7
            .sub-footer
                ul
                    li
                        a(href="") #RecuperaLaCiudad
                    li
                        a(href="") Ingeniería Civil
                    li
                        a(href="") Nuestros Pilares
                    li
                        a(href="") Artículos
                    li
                        a(href="") Postula
            .ocultar2
                h4 Jr. Medrano Silva 164, Barranco, Lima - Perú.
                h4 (511) 230 5020   -   (511) 230 5000
            .w-info
                .col-sm-7.pd-0
                    .ocultar
                        h4 Jr. Medrano Silva 164, Barranco, Lima - Perú.
                        h4 (511) 230 5020   -   (511) 230 5000
                .col-sm-5
                    p www.utec.edu.pe
                    h4 informes@utec.edu.pe
            .redes
                ul
                    li
                        a(href="")
                            img(src="img/icono/group2.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group5.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group6.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group7.png", alt="")
                    li
                        a(href="")
                            img(src="img/icono/group8.png", alt="")



        .col-md-5.col-sm-5.col-xs-12.pd-0
            .col-logo
                img.logo-f(src="img/logo-desktop.png", alt="")
                h4 Copyright © 2017 UTEC. All rights reserved.

app/inc/footer.html

<div class="footer" id="postula">
  <div class="content-g">
    <div class="col-md-7 col-sm-7">
      <div class="sub-footer">
        <ul>
          <li><a href="">#RecuperaLaCiudad</a></li>
          <li><a href="">Ingeniería Civil</a></li>
          <li><a href="">Nuestros Pilares</a></li>
          <li><a href="">Artículos</a></li>
          <li><a href="">Postula</a></li>
        </ul>
      </div>
      <div class="ocultar2">
        <h4>Jr. Medrano Silva 164, Barranco, Lima - Perú.</h4>
        <h4>(511) 230 5020   -   (511) 230 5000</h4>
      </div>
      <div class="w-info">
        <div class="col-sm-7 pd-0">
          <div class="ocultar">
            <h4>Jr. Medrano Silva 164, Barranco, Lima - Perú.</h4>
            <h4>(511) 230 5020   -   (511) 230 5000</h4>
          </div>
        </div>
        <div class="col-sm-5">
          <p>www.utec.edu.pe</p>
          <h4>informes@utec.edu.pe</h4>
        </div>
      </div>
      <div class="redes">
        <ul>
          <li><a href=""><img src="img/icono/group2.png" alt=""/></a></li>
          <li><a href=""><img src="img/icono/group5.png" alt=""/></a></li>
          <li><a href=""><img src="img/icono/group6.png" alt=""/></a></li>
          <li><a href=""><img src="img/icono/group7.png" alt=""/></a></li>
          <li><a href=""><img src="img/icono/group8.png" alt=""/></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 pd-0">
      <div class="col-logo"><img class="logo-f" src="img/logo-desktop.png" alt=""/>
        <h4>Copyright © 2017 UTEC. All rights reserved.</h4>
      </div>
    </div>
  </div>
</div>
