app/views/inc/menu.pug
header.header#navbar
    .container
        nav.navbar
            .navbar-header
                button.main-nav__button#nav-button(type="button")
                    span.main-nav__button__icon
                    span.main-nav__button__icon
                    span.main-nav__button__icon
                    span.main-nav__button__icon
                a.box-logo(href="index.html")
                    img.logo-mobile(src="img/logo.PNG", alt="")
                    img.logo-desktop(src="img/logo-desktop.png", alt="")
            .navbar-collapse.collapse#bs-example-navbar-collapse-1(aria-expanded="true")
                .menu_list--items.main-nav#navigation
                    .main-nav__line
                    ul.nav.navbar-nav.main-nav__list
                        li.active.main-nav__item
                            a.main-nav__link.letter-black.main-nav__link--active(href="#recuperar-ciudad") #RecuperaLaCiudad
                        li.main-nav__item
                            a.main-nav__link(href="#carrera-civil") Ingeniería Civil
                        li.main-nav__item
                            a.main-nav__link(href="#pilares") Nuestros Pilares
                        li.main-nav__item
                            a.main-nav__link(href="#articulos") Artículos
                        li.main-nav__item
                            a.main-nav__link.letter-blue(href="#postula") Postula

                    ul.menu__redes-sociales
                        li
                            a(href="")
                                img(src="img/icono/group2.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group5.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group6.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group7.png", alt="")
                        li
                            a(href="")
                                img(src="img/icono/group8.png", alt="")

app/inc/menu.html

<header class="header" id="navbar">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-header">
        <button class="main-nav__button" id="nav-button" type="button"><span class="main-nav__button__icon"></span><span class="main-nav__button__icon"></span><span class="main-nav__button__icon"></span><span class="main-nav__button__icon"></span></button><a class="box-logo" href="index.html"><img class="logo-mobile" src="img/logo.PNG" alt=""/><img class="logo-desktop" src="img/logo-desktop.png" alt=""/></a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="true">
        <div class="menu_list--items main-nav" id="navigation">
          <div class="main-nav__line"></div>
          <ul class="nav navbar-nav main-nav__list">
            <li class="active main-nav__item"><a class="main-nav__link letter-black main-nav__link--active" href="#recuperar-ciudad">#RecuperaLaCiudad</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="#carrera-civil">Ingeniería Civil</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="#pilares">Nuestros Pilares</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="#articulos">Artículos</a></li>
            <li class="main-nav__item"><a class="main-nav__link letter-blue" href="#postula">Postula</a></li>
          </ul>
          <ul class="menu__redes-sociales">
            <li><a href=""><img src="img/icono/group2.png" alt=""/></a></li>
            <li><a href=""><img src="img/icono/group5.png" alt=""/></a></li>
            <li><a href=""><img src="img/icono/group6.png" alt=""/></a></li>
            <li><a href=""><img src="img/icono/group7.png" alt=""/></a></li>
            <li><a href=""><img src="img/icono/group8.png" alt=""/></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
